ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #85898a;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #D5EDF7;
  }

  ul button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    color: white;
    padding: 14px 16px;
    font-size: 14px;
    text-align: center;
  }

  .greeting p {
    float: right;
    color: #85898a;
    padding: 14px 16px;
  }