:root {
    --text-color: #839095;
  }
  
body {
    padding: 0px 20px 0px 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #D5EDF7;
    margin        : 0;
    padding       : 0;
    display       : grid;
    place-content : center;
    min-height    : 100vh;
}

.spinnerContainer p, h2, label {
    color: var(--text-color);
}

.spinnerContainer {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
}