:root {
  --text-color: #839095;
}

* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #D5EDF7;
}

a {
  color: #00B7FF;
}

/* Style the header */
.pageTitle {
  text-align: left;
  color: #839095;
  font-size: 35px;
}

.column, .greeting {
  flex: 50%;
}

.greeting p {
  float: right;  
  color: var(--text-color);
  padding: 14px 16px;
}

.headerContainer {
  display: flex;
  margin: 0px 20px;
  clear: both;
}

.spinnerContainer {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
}

.messageContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
}

.spinnerContainer p, .messageContainer p {
  color: var(--text-color);
}
